/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

/* overrides default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}