/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

/* overrides default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
Body {
    background-color: white;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    
}

/* header */
header{
    background: white;
    width: 100%;
    top: 0;
    position: fixed;
    
}

h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
/* background image for header */
#logo {
    background: url(../images/pexels-scott-webb-305821.jpg.webp) no-repeat center center/cover;
    background-color: rgb(216, 216, 203);
    position:relative;
    width: 100%;
}

/* styles for Menu */
.menu {
    list-style-type: none;
    background-color: white;
}
.menu ul {
list-style-type: none;
display: flex;
text-align: center;
justify-content: space-evenly;
padding: 10px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:hover {
    background-color: rgb(188, 182, 162, .2);
}

nav {
    width: 100%;
    box-shadow: 0 2px 2px black;
}


/* Main */
main {
    flex: auto;
    display:  flex;
    flex-direction: column;
}

#welcome {
    text-align: center;
    border-top: 4px;
    padding: 20px;
}

#box1 {
 position: relative;
 display: flex;
 align-items: center;

}
#box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px
}

#meditation-image {
    background: url(../images/pexels-menitation.jpg.webp) no-repeat center center/cover;
    background-color: rgb(216, 216, 203);
    height: 80vw;
    width: 70vw;
}
.info {
    position: relative;
    text-align: center;
    padding: 50px;
}

/* Benefits section */
#benefits {
    background: url(../images/pexels-elina-fairytale-3823039.jpg.webp) no-repeat center center/cover;
    display: flex;
    flex-wrap: wrap;
}
#benefits div {
    background-color: rgb(0, 0, 0, 0.2);
    padding: 10px;
    border: 1px solid white;
    flex-basis: 200px;
    flex-grow: 1;
}
/* Contact section */
#contact {
    display:flex;
    text-align: center;
    justify-content: space-evenly;
    padding-top: 50px;
    padding-bottom: 50px;
}
#contact h3 {
    padding: 10px;
    font-size: 20px;
}

/* Styles page */

.title {
    text-align: center;
    padding: 30px;
}

#yoga-ashtanga {
    padding:50px;
    flex-direction: column;
   
}
.classes {
    display: block;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px 5px black;
    max-width: 400px;
    margin: 0 auto;
    
}

#yoga-meditation {
    padding: 50px;
    flex-direction: column;
    align-items: center;
}

#yoga-iyangar {
    padding: 50px;
    flex-direction: column;
    align-items: center;
}

#yoga-hatha {
    padding: 50px;
    flex-direction: column;
    align-items: center;
}
.text {
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.style-image {
    display:flex;
    margin: 0 auto;
    align-items: center;
}
.yoga-type {
    text-decoration: underline;
}

/* sign up page*/
#signup {
    background-image: url(../images/pexels-elina-fairytale-3823039.jpg.webp);
    background-size: cover;
    background-position: 70%;
    padding: 40px;

}

.signup-text {
    background: transparent;
    color: black;
    width: 100%;
    height: 30px;
    margin: 10px 0 20px 0;
    border: 1px solid black;
    padding: 0 10px;
}
/* styling for radio buttons */
.radio-button {
    text-align: center;
    justify-content: space-between;
    font-size: 100%;
    padding: 30px;
}
/* Styling for submit button */
.submit-button {
    background: transparent;
    color: black;
    font-size: 100%;
    padding: 10px 30px;
    border: 2px solid black;
}

/* Footer */
footer {
    background-color: white;
    bottom: 0;
    width: 100%;
    

}

/* socialmedia icons */
#socialmedia {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
    list-style-type: none;
}

#socialmedia i {
    color: black;
    font-size: 150%;
}

/* media screen section */
@media screen and (min-width: 1024px) {
  #welcome {
    font-size: 30px;
  }
  #media-one {
    display: flex;
    margin: 0 auto;
   
 }
 #media-two {
    display: flex;
    margin: 0 auto;
 }
   
}