/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');

/* overrides default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
Body {
    background-color: rgb(188, 182, 162);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    
}

/* Header */
header {
background-color: white;
width: 100%;
}
h1 {
    font-family: 'Oswald' sans-serif;
}

/* styles for Menu */
#menu {
    
}
#menu ul {
list-style-type: none;
font-size: 130%;
text-align: center;
display:flex;
padding: 10px;
justify-content: space-evenly;
}
#menu i {
color: black;
    
}

/* Main */


/* Footer */
footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#socialmedia {
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    padding: 20px;
    list-style-type: none;
}

#socialmedia i {
    color: black;
    font-size: 150%;
    
}